@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wind-compass {
  --compass-ticks: theme(colors.gray.600);

  background: repeating-conic-gradient(
    at center,
    var(--compass-ticks) 0deg 4deg,
    transparent 4deg 10deg
  );
}
